.filter_panel {
  width: 250px;
}
.filter_by_genre {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.filter {
  background-color: white;
  margin-top: 20px;
  padding: 2px 50px;
  border-radius: 8px;
  border: 1px solid #f0dbdb;
  box-shadow: 0 3px 8px rgba(206, 215, 252, 0.459);
}
.filter h2 {
  font-size: 1em;
  text-align: center;
}
.search_film_button {
  background-color: rgb(1, 180, 228);
  width: 250px;
  margin-top: 30px;
  border-color: rgb(1, 180, 228);
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px rgba(110, 102, 158, 0.2);
  padding: 2px 10px;
}
.search_film_button h2 {
  color: white;
  font-size: 14px;
  text-align: center;
}
.films_load_button {
  display: flex;
  justify-content: center;
  width: 100%;
}
.button_load {
  height: 50px;
  width: 100%;
  border: none;
  margin-top: 70px;
  margin-left: 80px;
  background-color: rgb(37, 36, 95);
  border-radius: 8px;
  color: white;
  font-size: 18px;
  font-weight: bold;
}
.sort_select {
  position: relative;
  width: 200px;
  margin-top: 30px;
}
.content_wrapper {
  margin-top: 40px;
  margin-right: 70px;
  margin-left: 70px;
  display: flex;
  width: 100%;
  align-content: flex-start;
  align-items: flex-start;
}
.wrapper {
  background-color: rgb(14, 18, 29);
  width: 100%;
  height: auto;
  padding-bottom: 300px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
.films_title h2 {
  color: white;
}
.date_filter {
  background-color: #fbfdfd;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.date_filter p {
  color: rgba(0, 0, 0, 0.5);
  margin-left: 10px;
}
.filter_panel h3 {
  color: white;
}
.date_filter label {
  padding: 10px 10px;
  color: rgba(0, 0, 0, 0.404);
}
.load_films_button {
  width: 100%;
  margin-left: 20px;
  background-color: rgb(1, 180, 228);
  border-color: rgb(1, 180, 228);
  margin-top: 30px;
  padding: 0;
  max-width: 100%;
  height: 50px;
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px rgba(110, 102, 158, 0.2);
  font-size: 18px;
  color: white;
  font-weight: bolder;
}
.film_panel {
  width: 100%;
}
.select-arrow-active:after {
  color: #000000;
}
.select-selected.select-arrow-active:after {
  border-color: transparent transparent rgb(22, 1, 1) transparent;
  top: 7px;
}
.sort_select {
  position: relative;
  width: 200px;
  margin-top: 30px;
}
.cards_films {
  width: 100%;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
}
select {
  font-size: 30px;
  width: 200px;
}
