.wrapper_contact {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
  padding-bottom: 300px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
.contact_wrap {
  width: 100%;
  box-sizing: border-box;
  padding-left: 40px;
  padding-top: 30px;
  padding-right: 40px;
}
.contact_content {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
  width: 100%;
}
